# Pandas 2: Chipotle Dataset- Go through the ipynb file below and find answers. https://drive.google.com/file/d/1ZePS7Px1aygGWyCadQozV0n7YcC5BM2M/view?usp=sharing 
(Note: Dataset link is given in .ipynb file. Please note that dataset file extension is .tsv. So Google for how to read .tsv file in pandas) 
Submit PDF file of code.

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_table(url, sep='\t')

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 4. How many products cost more than $10.00?

In [7]:
chipo_1 = chipo['item_price'].str.split('$', n = 1, expand = True)

In [8]:
chipo_1.head()

  0       1
0     2.39
1     3.39
2     3.39
3     2.39
4    16.98

In [9]:
chipo['item_price_1'] = chipo_1[1]

In [10]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_1
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [11]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   item_price_1        4622 non-null   object
dtypes: int64(2), object(4)
memory usage: 216.8+ KB

In [12]:
chipo['item_price_1'] = chipo['item_price_1'].astype(str).astype(float)

In [13]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_1
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [14]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   item_price_1        4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [15]:
sum(chipo['item_price_1'].apply(lambda X:X>10.00))

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [16]:
chipo[['item_name', 'item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [17]:
chipo.sort_values(['item_name'])

,order_id,quantity,item_name,choice_description,item_price,item_price_1
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [18]:
chipo['item_price_1'].max()

44.25

In [19]:
chipo[chipo['item_price_1'] == 44.25]['quantity']

3598    15
Name: quantity, dtype: int64

In [20]:
chipo[chipo['item_price_1'].apply(lambda X:X == chipo['item_price_1'].max())]['quantity']

3598    15
Name: quantity, dtype: int64

# or

In [21]:
chipo[chipo['item_price_1'] == 44.25]['item_name']

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

In [23]:
chipo[chipo['item_name']=='Chips and Fresh Tomato Salsa']

,order_id,quantity,item_name,choice_description,item_price,item_price_1
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
55,25,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
89,39,1,Chips and Fresh Tomato Salsa,NaN,$2.95,2.95
183,82,1,Chips and Fresh Tomato Salsa,NaN,$2.95,2.95
...,...,...,...,...,...,...
4231,1689,1,Chips and Fresh Tomato Salsa,NaN,$2.95,2.95
4318,1722,1,Chips and Fresh Tomato Salsa,NaN,$2.95,2.95
4324,1725,1,Chips and Fresh Tomato Salsa,NaN,$2.95,2.95
4425,1764,1,Chips and Fresh Tomato Salsa,NaN,$2.95,2.95
4503,1790,1,Chips and Fresh Tomato Salsa,NaN,$2.95,2.95

In [33]:
chipo[chipo['item_name']=='Chips and Fresh Tomato Salsa']['quantity'].sum()

130

In [34]:
chipo[chipo['item_name']=='Chips and Fresh Tomato Salsa']['quantity'].value_counts()

1     105
2       3
4       1
15      1
Name: quantity, dtype: int64

In [24]:
sum(chipo[chipo['item_name']=='Chips and Fresh Tomato Salsa']['quantity'])

130

# or

In [25]:
chipo['total_o_amount'] = chipo.quantity*chipo.item_price_1

In [26]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_1,total_o_amount
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96

In [27]:
chipo['total_o_amount'].max()

663.75

In [31]:
chipo[chipo['total_o_amount']==663.75]

,order_id,quantity,item_name,choice_description,item_price,item_price_1,total_o_amount
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25,663.75

In [32]:
chipo[chipo['total_o_amount']==663.75]['quantity']

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [36]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl']

,order_id,quantity,item_name,choice_description,item_price,item_price_1,total_o_amount
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$11.25,11.25,11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",$11.25,11.25,11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75,8.75
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",$8.75,8.75,8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75,8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75,8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25,11.25,11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75,8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

In [38]:
sum(chipo['item_name'] == 'Veggie Salad Bowl')

18

### Step 9. How many times did someone order more than one Canned Soda? Ans 20

In [40]:
chipo[chipo['item_name'] == 'Canned Soda']

,order_id,quantity,item_name,choice_description,item_price,item_price_1
18,9,2,Canned Soda,[Sprite],$2.18,2.18
28,14,1,Canned Soda,[Dr. Pepper],$1.09,1.09
51,23,2,Canned Soda,[Mountain Dew],$2.18,2.18
53,24,1,Canned Soda,[Sprite],$1.09,1.09
107,47,1,Canned Soda,[Dr. Pepper],$1.09,1.09
...,...,...,...,...,...,...
3897,1562,1,Canned Soda,[Mountain Dew],$1.09,1.09
3926,1575,1,Canned Soda,[Dr. Pepper],$1.09,1.09
3936,1578,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
4008,1604,1,Canned Soda,[Diet Coke],$1.09,1.09
4051,1621,1,Canned Soda,[Sprite],$1.09,1.09

In [42]:
sum(chipo[chipo['item_name'] == 'Canned Soda']['quantity'].apply(lambda X:X>1))

20